<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="master.css" type="text/css" />
    <title>{{book_title}}</title>
  </head>
  <body>
    Mobi (Kindle) | 
    <a href="book.epub">Epub (iBooks)</a> | 
    <a href="book.html">Single Page</a> | 
    <a href="book.pdf">PDF</a>
    <hr/>
    <div class="content">
      <h1>{{book_title}}</h1>
      <hr/>
      <div>
        {{toc}}
      </div>
      <div id="toc">
        <ul>
        {% for section in sections %}
          <li>
          <h2><a href="{{ section.link }}">{{section.title}}</a></h2>
            {% if section.sub %}
            <ul>
              {% for sub in section.sub %}
              <li><a href="{{ sub.link }}">{{ sub.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
    <hr/>
    Mobi (Kindle) | 
    <a href="book.epub">Epub (iBooks)</a> | 
    <a href="book.html">Single Page</a> | 
    <a href="book.pdf">PDF</a>
  </body>
</html>
