<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="stylesheets/handbookish.css" type="text/css" />
    <title>Page {{title}}</title>
  </head>

  <body>
    <table width="100%">
      <tr><td width="33%" align="left">
        {% if prev %}
         <a href="{{prev.link}}">Prev</a><br/>
         {{prev.title}}
        {% endif %}
      </td><td width="33%" align="center">
        {% if prev %}
         <a href="{{home.link}}">Home</a><br/>
        {% endif %}
      </td><td width="33%" align="right">
        {% if next %}
          <a href="{{next.link}}">Next</a><br/>
          {{next.title}}
        {% endif %}
      </td></tr>
    </table>

    <hr/>

    {{content}}

    <hr/>

    <table width="100%">
      <tr><td width="33%" align="left">
        {% if prev %}
         <a href="{{prev.link}}">Prev</a><br/>
         {{prev.title}}
        {% endif %}
      </td><td width="33%" align="center">
        {% if prev %}
         <a href="{{home.link}}">Home</a><br/>
        {% endif %}
      </td><td width="33%" align="right">
        {% if next %}
          <a href="{{next.link}}">Next</a><br/>
          {{next.title}}
        {% endif %}
      </td></tr>
    </table>

  </body>
</html>
